<%= form_with(model: book_list) do |form| %>
  <% if book_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_list.errors.count, "error") %> prohibited this book_list from being saved:</h2>

      <ul>
        <% book_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.number_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :books_id %>
    <%= form.text_field :books_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
